@charset 'utf-8';

body{margin:0;padding:0;}

/* grid system */

.row{
    position:relative;
    padding:0;margin:0;
}

.column{
    display:block;
    position:relative;float:left;
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
}

.floatFix{margin:0;padding:0;clear:both;}
.column.right{float:right;text-align:right;}

.column.no-float{float:none;}

@media only screen and (max-width: 640px){
	/* mobile device // only 1 column*/

    .column{width:100%;}

    .column.m1{width:10%;}  .column.m6{width:60%;}
    .column.m2{width:20%;}  .column.m7{width:70%;}
    .column.m3{width:30%;}  .column.m8{width:80%;}
    .column.m4{width:40%;}  .column.m9{width:90%;}
    .column.m5{width:50%;}  .column.m0{width:100%;}
    .column.mt{width:33.33333%;}  .column.mq{width:25%;}
    .column.mt2{width:66.66666%;}

    .mobile-hide{display:none;}

    .column.right{text-align:left;}
}

@media only screen and (min-width: 641px) and (max-width: 996px){
	/* tablet and small screen // 2 column */

    .column{width:100%;}

    .column.t1{width:10%;}  .column.t6{width:60%;}
    .column.t2{width:20%;}  .column.t7{width:70%;}
    .column.t3{width:30%;}  .column.t8{width:80%;}
    .column.t4{width:40%;}  .column.t9{width:90%;}
    .column.t5{width:50%;}  .column.t0{width:100%;}
    .column.tt{width:33.33333%;}  .column.tq{width:25%;}
    .column.tt2{width:66.66666%;}

    .tablet-hide{display:none;}

}

@media only screen and (min-width: 997px){
	/* desktop and any screen // 4 column */

    .column{width:100%;}

    .column.d1{width:10%;}  .column.d6{width:60%;}
    .column.d2{width:20%;}  .column.d7{width:70%;}
    .column.d3{width:30%;}  .column.d8{width:80%;}
    .column.d4{width:40%;}  .column.d9{width:90%;}
    .column.d5{width:50%;}  .column.d0{width:100%;}
    .column.dt{width:33.33333%;}  .column.dq{width:25%;}
    .column.dt2{width:66.66666%;}

    .desktop-hide{display:none;}

}

@media only screen and (min-width:1441px){
	/* more larger screen */

    .column{width:100%;}

    .column.l1{width:10%;}  .column.l6{width:60%;}
    .column.l2{width:20%;}  .column.l7{width:70%;}
    .column.l3{width:30%;}  .column.l8{width:80%;}
    .column.l4{width:40%;}  .column.l9{width:90%;}
    .column.l5{width:50%;}  .column.l0{width:100%;}
    .column.lt{width:33.33333%;}  .column.lq{width:25%;}
    .column.lt2{width:66.66666%;}

    .largescreen-hide{display:none;}


}

