@charset 'utf-8';

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab); /* font-family: 'Roboto Slab', serif; */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700); /* font-family:'Exo 2', sans-serif; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* font-family: 'Nanum Gothic', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Rajdhani:400,300,700); /* font-family: 'Rajdhani', sans-serif; */

body{font-size:16px;font-family: 'Nanum Gothic', sans-serif;}

h1,h2,h3,h4,h5,p{margin:0;font-weight:400;}
h1{font-size:3em;}
h2{font-size:2em;}
h3{font-size:1.5em;}
h4{font-size:1.25em;}
h5{font-size:0.938em;opacity:0.9;}
p{margin:0;font-size:0.938em;}

.container{width:100%;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.wrapper{max-width:1120px;position:relative;margin:0 auto;}
.wrapper-open{width:100%!important;position:relative;}

/* size define */

@media only screen and (max-width: 640px){
    /* mobile */

    .wrapper{width:100%;}

    h1{font-size:2em;}
    h2{font-size:1.5em;}
    h3{font-size:1.25em;}
    h4{font-size:1em;}

}

@media only screen and (min-width: 641px) and (max-width: 996px){
    /* tablet */

}

@media only screen and (min-width: 997px){
    /* desktop */

}

@media only screen and (min-width:1441px){
    /* more big screen */

}

/* named elements */
#top{z-index:1000;width:100%;position:fixed;top:0;left:0;border-bottom:1px solid #ddd;background:rgba(255,255,255,0.9);}

header{}
header h1{padding:5px;font-size:2em;font-family: 'Rajdhani', sans-serif;text-align:center;}

nav{}
nav ul{margin:0;padding:0;list-style:none;}
nav ul li{display:inline-block;padding:14px 10px;}

#main{padding:2.5px 0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background: #ddd;}

/* local */

ul.itemlist{margin:0;padding:2.5px 0;list-style:none;}
ul.itemlist li{position: relative;padding:5px 10px;}
ul.itemlist li .video{position:relative;background:#ffffff;border-radius:2px;}

div.thumb{}
div.thumb img{min-width:100%;max-width: 100%; height: inherit; vertical-align: middle; position: relative;}

div.desc{position:relative;padding:10px 10px 0 10px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}}
div.desc p{margin:0;line-height:1;}
div.desc p.title{margin-bottom:5px;}
div.desc p.author{font-size:0.825em;opacity:0.6;}

div.info{position:absolute;bottom:0;right:0;padding:5px 10px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;background:#eee;}
div.info p{line-height:1;font-family:'Exo 2', sans-serif;font-size:0.825em;}
div.info p.date{float: left;}
div.info p.like{float: right;margin-right:10px;}
div.info p.like::before{content:url(../data/like.png);;margin-right:5px;vertical-align:middle;}
div.info p.view{float: right;}
div.info p.view::before{content:url(../data/view.png);margin-right:5px;vertical-align:middle;}

@media only screen and (max-width: 640px){
    div.thumb{width:30%;/*썸네일비율*/position: absolute; top: 0; left: 0;}
    div.desc{width:70%;margin-left:30%;}
    div.desc .title{font-size:1.25em;}
    div.info{width:70%;/*썸네일비율*/}

}
@media only screen and (min-width: 641px){
    div.thumb{width:100%;/*썸네일비율*/position:relative;}
    div.desc{width:100%;}
    div.desc .title{font-size:1.5em;}
    div.info{width:100%;}

}

#itemlist-category{}
#itemlist-videos{}
#itemlist-mini{}

/* box */

.box-alert{padding:2.5px 0;}
.box-alert p{padding:10px;line-height:1.5;background:#fff;font-size:0.875em;}

